<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title></title>
    </head>
    <body>
        <h1>Update the client </h1>

        <form action="/client/{{ client.getId }}" method="post">
          <input name="_method" type="hidden" value="patch">

          <label for="name">Rename your client:</label>
          <input id="name" name="name" type="text" value= "{{ client.getName }}"><br>
          <label for="age">Change client address:</label>
          <input id="age" name="age" type="number" value= "{{ client.getAge }}">
          <label for="hairstyle">Change client address:</label>
          <input id="hairstyle" name="hairstyle" type="text" value= "{{ client.getHairstyle }}">

          <button type="submit">Update</button>
        </form>
        <form action="/client/{{ client.getId}}/delete" method="post">
          <input name="_method" type="hidden" value="delete">

          <button type="submit">Delete This Client</button>
        </form>

    </body>
</html>
