<html>
 <head>
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
     <title>Stylists</title>
 </head>
 <body>
   <div class="container">
     <h1>Welcome to {{ stylist.getName }}'s personal page!</h1>
     <br>
     {% if clients is not empty %}
         <h3>Here is the current list of {{ stylist.getName }}'s clients:</h3>
         <ul>
             {% for client in clients %}
                 <li>{{ client.getName }}</li>
                 <ul>
                    <li>Age: {{ client.getAge }}</li>
                    <li>Hairstyle: {{ client.getHairstyle }}</li>
                </ul>
                <form action="/clients/{{ client.getId }}/edit" >
                    <button type="submit" name="button">Edit this client</button>
                </form>
             {% endfor %}
         </ul>
         {% else %}
             <h3>
                 No clients have been added.
             </h3>

     {% endif %}
     <h3>Add a client:</h3>

     <form action='/clients' method='post'>
         <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
         <label for='name'>Client Name</label>
         <input id='name' name='name' type='text'>
         <label for='age'>Age</label>
         <input id='age' name='age' type='number'>
         <label for='hairstyle'>Client's Hairstyle</label>
         <input id='hairstyle' name='hairstyle' type='text'>

         <button type='submit'>Add Client</button>
     </form>
     <h3><a href="/stylists/{{ stylist.getId }}/edit">Edit this Stylist</a></h3>

     <h3><a href='/'>Return to Homepage</a></h3>
   </div>
 </body>
</html>
